# Series

In [1]:
import pandas as pd

### Creating a Series

In [2]:
my_series = pd.Series([98, 89, 60, 93])
my_series

0    98
1    89
2    60
3    93
dtype: int64

In [4]:
my_series2 = pd.Series([98, 89, 60, 93], index = ['A', 'B', 'C', 'D']) 
my_series2

A    98
B    89
C    60
D    93
dtype: int64

In [5]:
my_series[1]

89

In [6]:
my_series[1:3]

1    89
2    60
dtype: int64

In [7]:
my_series2.loc['B']

89

In [8]:
my_series2.loc['B':'C']

B    89
C    60
dtype: int64

In [9]:
my_series3 = pd.Series([100, 200, 300, 400])

my_series3 + my_series

0    198
1    289
2    360
3    493
dtype: int64

In [10]:
my_series2.loc['B':'C']

B    89
C    60
dtype: int64